* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


label {
  margin-bottom: 5px;
  display: block;
  width: 20%;
  text-align: left;
  font-weight: bold;
}

.app input {
  margin-bottom: 10px; /* Increase the space between input and label */
  padding: 8px; /* Increase padding for better appearance */
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  width: 20%; /* Make the input take the full width of its container */
}

.app button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.app button:active {
  background-color: #003366; /* Change the color when the button is clicked */
}

.error-message {
  color: red;
  font-size: 10px;
}
